.wrapper {
    overflow: overlay;
}

.container {
    max-width: 900px;
    margin: 1.8rem auto;
 
}

.container::-webkit-scrollbar {
    display: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-content {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-grow-one {
    flex-grow: 1;
}

.margin-small {
    margin: 0.2rem 0.2rem;
}

.margin-medium {
    margin: 0.8rem 0.2rem;
}

.padding-medium {
    padding: 0.2rem 1rem;
}